
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}



.container{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    

    /* height: 100vh; */
    width:100vw ;
    overflow-x: none;
}
.navbar{
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50, 54, 170, 0.902) 66%,  rgba(0, 94, 255, 0.607) 100%);
    height:60px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}
nav{
    width: 100%;
    overflow-x: none;

}

#navlist{
    /* margin:0px 15px; */
    padding: 15px ;
    padding-left: 40px;
    padding-right: 120px;
    list-style: none;
    font-size: 40px;
    display: flex;
    justify-content:space-around;
    
    
}
#navlogo{
    font-size: 46px;
    color:azure;
}
a{
    text-decoration: none;
    /* padding: 5px; */
    color: azure;
}
#navoptions{
    display: flex;
    /* justify-items: space-around; */
    gap: 100px;
}
.footerBox{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50, 54, 170, 0.902) 66%,  rgba(0, 94, 255, 0.607)  100%);
    
    text-align: center;
    height: 35px;
    
}
.footerBox p{
    color: azure;
    font-size: 24px;
}  
.contentBox{
    width: 60%;
    /* border: 1px solid black; */
    background-color: white;
    margin: auto;
    display: flex;

    flex-direction: column;
    gap: 100px;
    padding: 50px;
    box-shadow:0px 0px 30px black ;
    
}
.item{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    gap: 40px;
    align-items: center;
}
.rightBox{
    position: relative;
    /* overflow: hidden; */
    transition: all 0.3s linear 0s ;
    border-radius: 2cap;
    box-shadow: 1px 1px 13px #1d1c1b;
    height: 600px;
    
}
.rightBox img{ 
    height: 100%;
    border-radius: 2cap;
transition: all 0.6s linear 0s;


    
}

.rightBox:hover {
    transform: scale(1.1);
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.773);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2cap;
    opacity: 0;
}
.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: azure;
    font-size: 1.5rem;
    cursor: pointer;
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size:  34px; 
}
.ingBox{
    font-size: 24px;
    list-style-type:square;
     padding: 0px 50px;
}
.recipeBox{
font-size: 24px;
padding-left: 50px;
text-align: justify;
}
#Heading{
    font-size: 40px;
    color: rgb(52, 16, 215);
}


